.critique {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.catNomResto {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: black;
    font-family: FreeMono, monospace;
}

.catTypesCuisine {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.catDescResto {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.catAdresseResto {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.catPhotosResto {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.catHorairesResto {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.catCritiquesResto {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.catTexte {
    font-weight: bold;
    font-size: 20px;
    font-family: FreeMono, monospace;
}

.galerie {
    width: 300px;
    height: 200px;
}